.search-form__content {
  margin: 0 auto;
  text-align: center;
  max-width: 1230px;
}

.search-form {
  margin: 0 auto;
  width: 100%;
}

.search-form__item {
  height: 40px;
  display: flex;
  justify-content: space-between;
  gap: 0;
  /* 要素間の間隔を最小化 */
}

.search-form__input-text {
  width: 100%;
  height: 100%;
  margin: 0 5px;
  box-sizing: border-box;
  background: #f5f5f5;
  color: #857A6B;
  border: #D3C7B7 1px solid;
}

.search-form__select--gender {
  width: 90px;
  height: 100%;
  margin: 0 5px;
  background: #f5f5f5;
  color: #857A6B;
  border: #D3C7B7 1px solid;
}

.search-form__select--category {
  width: 150px;
  height: 100%;
  margin: 0 5px;
  background: #f5f5f5;
  color: #857A6B;
  border: #D3C7B7 1px solid;
}

.search-form__input-date {
  width: 100px;
  height: 100%;
  margin: 0 5px;
  background: #f5f5f5;
  box-sizing: border-box;
  color: #857A6B;
  border: #D3C7B7 1px solid;
}

.search-form__button {
  width: 80px;
  height: 100%;
  margin: 0 5px;
}

.search-form__button-submit {
  width: 80px;
  height: 100%;
  background: #857A6B;
  color: #FFFFFF;
  border: #D3C7B7 1px solid;
  cursor: pointer;
}

.search-form__button-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  padding: 0;
  border: #D3C7B7 1px solid;
  background: #D3C7B7;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 5px auto;
  width: 100%;
  height: 30px;
  max-width: 1230px;
}

.export__button {
  padding-left: 5px
}

.export__button-submit {
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  border: #D3C7B7 1px solid;
  background: #ECEAE6;
  color: #857A6B;
  cursor: pointer;
}

.pagination-outline {}

.pagination {
  margin: 0;
  display: flex;
  justify-content: right;
}

.page-item {
  margin: 0px 3px;
}

.page-link {
  display: flex;
  margin: 0px 3px;
}

svg.w-5.h-5 {
  /*paginateメソッドの矢印の大きさ調整のために追加*/
  width: 30px;
  height: 30px;
}

.admin-table {
  margin: 0 auto;
  width: 100%;
  max-width: 1230px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  /* セル間のスペーシングをなくす */
}

.admin-table tbody {
  margin: 0;
  padding: 0;
  border: #D3C7B7 1px solid;
}

.admin-table__inner {
  width: 100%;
  border: #D3C7B7 1px solid;
}


.admin-table__row {
  height: 50px;
}

.admin-table__row th {
  background-color: #857A6B;
  color: #FFFFFF;
}

.admin-table__row td {
  border-top: #D3C7B7 1px solid;
  color: #857A6B;
}

.admin-table__row td:last-child,
.admin-table__row td:last-child {
  padding-right: 10px;
}

.admin-table__header--name,
.admin-table__content--name {
  width: 25%;
  padding-left: 40px;
}

.admin-table__header--gender,
.admin-table__content--gender {
  width: 5%;
}

.admin-table__header--email,
.admin-table__content--email {
  width: 30%;
  padding-left: 40px;
}

.admin-table__header--category,
.admin-table__content--category {
  width: 30%;
  padding-left: 40px;
}

.admin-table__header--blank,
.admin-table__content--button {
  width: 5%;
  padding-right: 0px;
}

.admin-table__button-submit {
  width: 60px;
  height: 30px;
  padding: 5px;
  border: #D3C7B7 1px solid;
  background: #f5f5f5;
  color: #D3C7B7;
  cursor: pointer;
}

.modal {
  display: none;
  /* 初期状態は非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  padding: 20px;
  width: 85%;
  background-color: white;
  border: 1px #D3C7B7 solid;
  text-align: center;
}

/* 閉じるボタン（右上） */
.close-btn-top {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #857A6B;
  cursor: pointer;
}

.close-btn-top:hover {
  color: #f44336;
  /* ホバー時の色 */
}

.modal-table {
  padding: 10px;
  border: none;
  text-align: left;
  font-size: 14px;
  color: #857A6B;
  border: none;
}

.modal-table__inner {
  width: 100%;
}

.modal-table__row {
  vertical-align: top;
}

.modal-table__header {
  width: 30%;
  padding-top: 15px;
  padding-left: 15px;
}

.modal-table__content {
  width: 70%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


.modal-table__content textarea {
  width: 100%;
  height: 100px;
  background: #fff;
  color: #857A6B;
  border: none;
  overflow: visible;
  resize: none;
  outline: none;
}

.remove-btn {
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #d32f2f;
}