/*** tag ***/
body {
  margin: 0;
}

input::placeholder {
  opacity: 0.5;
}

textarea::placeholder {
  opacity: 0.5;
}

/*** header ***/
.header {
  height: 80px;
  border-bottom: #ccc 1px solid;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 20px 0px;
  vertical-align: middle;
  box-sizing: border-box;
}

.header__logo {
  color: #857A6B;
  margin: 0 auto;
  font-family: Georgia, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

.header-nav {
  position: absolute;
  right: 5%;
  width: 60px;
  height: 25px;
  line-height: 25px;
  margin: 10px 20px auto auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.header-nav__item {}

.header-nav__button {}

.header-nav-form {}

.header-nav__button {
  width: 100px;
  height: 30px;
  font-family: Georgia, Helvetica, sans-serif;
  text-decoration: none;
  color: #D3C7B7;
  font-size: 14px;
  background: #f5f5f5;
  border: #D3C7B7 1px solid;
  cursor: pointer;

}

.section__title {
  margin: 40px auto;
  font-family: Georgia, Helvetica, sans-serif;
  color: #857A6B;
  text-align: center;
}

.form__error {
  color: #CC5D5D;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
}

.alert__message--success {
  padding: 5px 15px;
  font-weight: bold;
  color: #0f5132;
  background: #d1e7dd;
  border-color: #badbcc;
}

/*** login,register ***/
.account__content {
  margin: 0 auto;
  height: calc(100vh - 81px);
  text-align: center;
  background-color: #EFECE7;
}

.account-section__title {
  margin: 0px auto;
  padding-top: 30px;
  font-family: Georgia, Helvetica, sans-serif;
  color: #857A6B;
}

.account-form__group {
  width: 70%;
  margin: 20px auto 50px auto;
}

.account-form__title {
  width: 100%;
  height: 30px;
  margin: 0px auto;
  text-align: left;
  color: #857A6B;

}

.account-form__input {
  width: 100%;
  height: 30px;
  margin: 0px auto;
}

.account-form__input input {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  color: #857A6B;
  background: #f5f5f5;
  border: none;
  box-sizing: border-box;
}

.account-form__button {
  margin: 20px auto;
}

.account-form__button-submit {
  width: 100px;
  height: 30px;
  padding: 5px;
  border: none;
  background: #857A6B;
  color: #f5f5f5;
  cursor: pointer;
}