body {
  margin: 0;
}

input::placeholder {
  opacity: 0.5;
}

textarea::placeholder {
  opacity: 0.5;
}

.header {
  height: 80px;
  border-bottom: #ccc 1px solid;
}

.header__inner {
  position: relative;
  height: 100%;
  padding: 20px 0px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo {
  color: #857A6B;
  margin: 0 auto;
  font-family: Georgia, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

.header__button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* 親要素が複数行の場合 */
  position: absolute;
  right: 5%;
  width: 60px;
  height: 25px;
  line-height: 25px;
  /* 高さと同じ値で縦方向の中央寄せ */
  margin: 10px 0px auto auto;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Georgia, Helvetica, sans-serif;
  text-decoration: none;
  color: #D3C7B7;
  font-size: 14px;
  background: #f5f5f5;
  border: #D3C7B7 1px solid;
}

.contact-form__content {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

.section__title {
  margin: 50px auto;
  font-family: Georgia, Helvetica, sans-serif;
  color: #857A6B;
  text-align: center;
}

.form__button {
  margin: 150px auto 20px auto;
  text-align: center;
}

.form__button-submit {
  width: 100px;
  height: 30px;
  padding: 5px;
  border: none;
  background: #857A6B;
  color: #f5f5f5;
  cursor: pointer;
}